USE [master]
GO
/****** Object:  Database [CompanyDB]    Script Date: 25.01.2026 18:26:47 ******/
CREATE DATABASE [CompanyDB]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'CompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyDB]
GO
/****** Object:  User [Emp]    Script Date: 25.01.2026 18:26:47 ******/
CREATE USER [Emp] WITH PASSWORD=N'WCwF6m+fPVTzAtljB2e9HvFfeRdpun6vqqSGgE8eTpU=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 25.01.2026 18:26:47 ******/
CREATE USER [Admin] WITH PASSWORD=N'CPYe4oK0G4VAVA0kQ+kdFMdFaTDqnTgWpqeU/XfZqhw=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [GuestRole]    Script Date: 25.01.2026 18:26:47 ******/
CREATE ROLE [GuestRole]
GO
/****** Object:  DatabaseRole [EmpRole]    Script Date: 25.01.2026 18:26:47 ******/
CREATE ROLE [EmpRole]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 25.01.2026 18:26:47 ******/
CREATE ROLE [AdminRole]
GO
ALTER ROLE [EmpRole] ADD MEMBER [Emp]
GO
ALTER ROLE [AdminRole] ADD MEMBER [Admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [AdminRole]
GO
/****** Object:  Schema [crunchbase]    Script Date: 25.01.2026 18:26:47 ******/
CREATE SCHEMA [crunchbase]
GO
/****** Object:  UserDefinedFunction [crunchbase].[GetTotalFunding]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- FUNKCJA - Obliczanie sumy finansowania firmy
-- ============================================================================
CREATE   FUNCTION [crunchbase].[GetTotalFunding](@company_id INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @total DECIMAL(18,2);

    SELECT @total = ISNULL(SUM(raised_amount), 0)
    FROM crunchbase.FundingRound
    WHERE company_id = @company_id;

    RETURN @total;
END
GO
/****** Object:  Table [crunchbase].[Company]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[mongo_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[permalink] [nvarchar](255) NOT NULL,
	[crunchbase_url] [nvarchar](500) NULL,
	[homepage_url] [nvarchar](500) NULL,
	[blog_url] [nvarchar](500) NULL,
	[blog_feed_url] [nvarchar](500) NULL,
	[twitter_username] [nvarchar](100) NULL,
	[category_code] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[overview] [nvarchar](max) NULL,
	[number_of_employees] [int] NULL,
	[founded_year] [int] NULL,
	[founded_month] [int] NULL,
	[founded_day] [int] NULL,
	[deadpooled_year] [int] NULL,
	[deadpooled_month] [int] NULL,
	[deadpooled_day] [int] NULL,
	[deadpooled_url] [nvarchar](500) NULL,
	[tag_list] [nvarchar](max) NULL,
	[alias_list] [nvarchar](max) NULL,
	[email_address] [nvarchar](255) NULL,
	[phone_number] [nvarchar](50) NULL,
	[total_money_raised] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[permalink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[mongo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Product]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[permalink] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[FundingRound]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[FundingRound](
	[funding_round_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[original_id] [int] NULL,
	[round_code] [nvarchar](50) NULL,
	[source_url] [nvarchar](500) NULL,
	[source_description] [nvarchar](500) NULL,
	[raised_amount] [decimal](18, 2) NULL,
	[raised_currency_code] [nvarchar](10) NULL,
	[funded_year] [int] NULL,
	[funded_month] [int] NULL,
	[funded_day] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[funding_round_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [crunchbase].[vw_CompanyOverview]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- WIDOK - Przegląd firm z podstawowymi danymi
-- ============================================================================
CREATE   VIEW [crunchbase].[vw_CompanyOverview]
AS
SELECT
    c.company_id,
    c.name,
    c.category_code,
    c.founded_year,
    c.number_of_employees,
    c.homepage_url,
    crunchbase.GetTotalFunding(c.company_id) AS total_funding,
    (SELECT COUNT(*) FROM crunchbase.FundingRound fr WHERE fr.company_id = c.company_id) AS funding_rounds_count,
    (SELECT COUNT(*) FROM crunchbase.Product p WHERE p.company_id = c.company_id) AS products_count
FROM crunchbase.Company c;
GO
/****** Object:  Table [crunchbase].[Acquisition]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Acquisition](
	[acquisition_id] [int] IDENTITY(1,1) NOT NULL,
	[acquiring_company_id] [int] NOT NULL,
	[acquired_company_id] [int] NULL,
	[acquired_company_name] [nvarchar](255) NULL,
	[acquired_company_permalink] [nvarchar](255) NULL,
	[price_amount] [decimal](18, 2) NULL,
	[price_currency_code] [nvarchar](10) NULL,
	[term_code] [nvarchar](50) NULL,
	[source_url] [nvarchar](500) NULL,
	[source_description] [nvarchar](500) NULL,
	[acquired_year] [int] NULL,
	[acquired_month] [int] NULL,
	[acquired_day] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[acquisition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[CompanyImage]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[CompanyImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[width] [int] NULL,
	[height] [int] NULL,
	[image_path] [nvarchar](500) NOT NULL,
	[attribution] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[CompanyIPO]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[CompanyIPO](
	[ipo_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[valuation_amount] [decimal](18, 2) NULL,
	[valuation_currency_code] [nvarchar](10) NULL,
	[pub_year] [int] NULL,
	[pub_month] [int] NULL,
	[pub_day] [int] NULL,
	[stock_symbol] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[CompanyRelationship]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[CompanyRelationship](
	[relationship_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[is_past] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[relationship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Competitor]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Competitor](
	[competitor_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[competitor_company_id] [int] NULL,
	[competitor_name] [nvarchar](255) NOT NULL,
	[competitor_permalink] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[competitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Competitor] UNIQUE NONCLUSTERED 
(
	[company_id] ASC,
	[competitor_permalink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[ExternalLink]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[ExternalLink](
	[external_link_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[external_url] [nvarchar](1000) NOT NULL,
	[title] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[external_link_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[FinancialOrg]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[FinancialOrg](
	[financial_org_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[permalink] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[financial_org_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[permalink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Investment]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Investment](
	[investment_id] [int] IDENTITY(1,1) NOT NULL,
	[funding_round_id] [int] NOT NULL,
	[person_id] [int] NULL,
	[financial_org_id] [int] NULL,
	[investing_company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[investment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Milestone]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Milestone](
	[milestone_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[original_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[stoned_year] [int] NULL,
	[stoned_month] [int] NULL,
	[stoned_day] [int] NULL,
	[source_url] [nvarchar](500) NULL,
	[source_text] [nvarchar](max) NULL,
	[source_description] [nvarchar](500) NULL,
	[stoneable_type] [nvarchar](50) NULL,
	[stoned_value] [nvarchar](100) NULL,
	[stoned_value_type] [nvarchar](50) NULL,
	[stoned_acquirer] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[milestone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Office]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Office](
	[office_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[address1] [nvarchar](255) NULL,
	[address2] [nvarchar](255) NULL,
	[zip_code] [nvarchar](20) NULL,
	[city] [nvarchar](100) NULL,
	[state_code] [nvarchar](10) NULL,
	[country_code] [nvarchar](10) NULL,
	[latitude] [decimal](10, 7) NULL,
	[longitude] [decimal](10, 7) NULL,
PRIMARY KEY CLUSTERED 
(
	[office_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Person]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Person](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[permalink] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[permalink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Provider]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Provider](
	[provider_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[provider_company_id] [int] NULL,
	[provider_name] [nvarchar](255) NOT NULL,
	[provider_permalink] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[is_past] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[Screenshot]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[Screenshot](
	[screenshot_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[attribution] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[screenshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[ScreenshotSize]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[ScreenshotSize](
	[screenshot_size_id] [int] IDENTITY(1,1) NOT NULL,
	[screenshot_id] [int] NOT NULL,
	[width] [int] NULL,
	[height] [int] NULL,
	[image_path] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[screenshot_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [crunchbase].[VideoEmbed]    Script Date: 25.01.2026 18:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crunchbase].[VideoEmbed](
	[video_embed_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[embed_code] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[video_embed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Company_CategoryCode]    Script Date: 25.01.2026 18:26:48 ******/
CREATE NONCLUSTERED INDEX [IX_Company_CategoryCode] ON [crunchbase].[Company]
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Company_Name]    Script Date: 25.01.2026 18:26:48 ******/
CREATE NONCLUSTERED INDEX [IX_Company_Name] ON [crunchbase].[Company]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FundingRound_RoundCode]    Script Date: 25.01.2026 18:26:48 ******/
CREATE NONCLUSTERED INDEX [IX_FundingRound_RoundCode] ON [crunchbase].[FundingRound]
(
	[round_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [crunchbase].[Acquisition] ADD  DEFAULT ('USD') FOR [price_currency_code]
GO
ALTER TABLE [crunchbase].[Company] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [crunchbase].[Company] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [crunchbase].[CompanyIPO] ADD  DEFAULT ('USD') FOR [valuation_currency_code]
GO
ALTER TABLE [crunchbase].[CompanyRelationship] ADD  DEFAULT ((0)) FOR [is_past]
GO
ALTER TABLE [crunchbase].[FundingRound] ADD  DEFAULT ('USD') FOR [raised_currency_code]
GO
ALTER TABLE [crunchbase].[Provider] ADD  DEFAULT ((0)) FOR [is_past]
GO
ALTER TABLE [crunchbase].[Acquisition]  WITH CHECK ADD  CONSTRAINT [FK_Acquisition_AcquiredCompany] FOREIGN KEY([acquired_company_id])
REFERENCES [crunchbase].[Company] ([company_id])
GO
ALTER TABLE [crunchbase].[Acquisition] CHECK CONSTRAINT [FK_Acquisition_AcquiredCompany]
GO
ALTER TABLE [crunchbase].[Acquisition]  WITH CHECK ADD  CONSTRAINT [FK_Acquisition_AcquiringCompany] FOREIGN KEY([acquiring_company_id])
REFERENCES [crunchbase].[Company] ([company_id])
GO
ALTER TABLE [crunchbase].[Acquisition] CHECK CONSTRAINT [FK_Acquisition_AcquiringCompany]
GO
ALTER TABLE [crunchbase].[CompanyImage]  WITH CHECK ADD  CONSTRAINT [FK_CompanyImage_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[CompanyImage] CHECK CONSTRAINT [FK_CompanyImage_Company]
GO
ALTER TABLE [crunchbase].[CompanyIPO]  WITH CHECK ADD  CONSTRAINT [FK_CompanyIPO_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[CompanyIPO] CHECK CONSTRAINT [FK_CompanyIPO_Company]
GO
ALTER TABLE [crunchbase].[CompanyRelationship]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRelationship_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[CompanyRelationship] CHECK CONSTRAINT [FK_CompanyRelationship_Company]
GO
ALTER TABLE [crunchbase].[CompanyRelationship]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRelationship_Person] FOREIGN KEY([person_id])
REFERENCES [crunchbase].[Person] ([person_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[CompanyRelationship] CHECK CONSTRAINT [FK_CompanyRelationship_Person]
GO
ALTER TABLE [crunchbase].[Competitor]  WITH CHECK ADD  CONSTRAINT [FK_Competitor_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Competitor] CHECK CONSTRAINT [FK_Competitor_Company]
GO
ALTER TABLE [crunchbase].[Competitor]  WITH CHECK ADD  CONSTRAINT [FK_Competitor_CompetitorCompany] FOREIGN KEY([competitor_company_id])
REFERENCES [crunchbase].[Company] ([company_id])
GO
ALTER TABLE [crunchbase].[Competitor] CHECK CONSTRAINT [FK_Competitor_CompetitorCompany]
GO
ALTER TABLE [crunchbase].[ExternalLink]  WITH CHECK ADD  CONSTRAINT [FK_ExternalLink_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[ExternalLink] CHECK CONSTRAINT [FK_ExternalLink_Company]
GO
ALTER TABLE [crunchbase].[FundingRound]  WITH CHECK ADD  CONSTRAINT [FK_FundingRound_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[FundingRound] CHECK CONSTRAINT [FK_FundingRound_Company]
GO
ALTER TABLE [crunchbase].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_Company] FOREIGN KEY([investing_company_id])
REFERENCES [crunchbase].[Company] ([company_id])
GO
ALTER TABLE [crunchbase].[Investment] CHECK CONSTRAINT [FK_Investment_Company]
GO
ALTER TABLE [crunchbase].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_FinancialOrg] FOREIGN KEY([financial_org_id])
REFERENCES [crunchbase].[FinancialOrg] ([financial_org_id])
GO
ALTER TABLE [crunchbase].[Investment] CHECK CONSTRAINT [FK_Investment_FinancialOrg]
GO
ALTER TABLE [crunchbase].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_FundingRound] FOREIGN KEY([funding_round_id])
REFERENCES [crunchbase].[FundingRound] ([funding_round_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Investment] CHECK CONSTRAINT [FK_Investment_FundingRound]
GO
ALTER TABLE [crunchbase].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_Person] FOREIGN KEY([person_id])
REFERENCES [crunchbase].[Person] ([person_id])
GO
ALTER TABLE [crunchbase].[Investment] CHECK CONSTRAINT [FK_Investment_Person]
GO
ALTER TABLE [crunchbase].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_Milestone_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Milestone] CHECK CONSTRAINT [FK_Milestone_Company]
GO
ALTER TABLE [crunchbase].[Office]  WITH CHECK ADD  CONSTRAINT [FK_Office_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Office] CHECK CONSTRAINT [FK_Office_Company]
GO
ALTER TABLE [crunchbase].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Product] CHECK CONSTRAINT [FK_Product_Company]
GO
ALTER TABLE [crunchbase].[Provider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Provider] CHECK CONSTRAINT [FK_Provider_Company]
GO
ALTER TABLE [crunchbase].[Provider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_ProviderCompany] FOREIGN KEY([provider_company_id])
REFERENCES [crunchbase].[Company] ([company_id])
GO
ALTER TABLE [crunchbase].[Provider] CHECK CONSTRAINT [FK_Provider_ProviderCompany]
GO
ALTER TABLE [crunchbase].[Screenshot]  WITH CHECK ADD  CONSTRAINT [FK_Screenshot_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[Screenshot] CHECK CONSTRAINT [FK_Screenshot_Company]
GO
ALTER TABLE [crunchbase].[ScreenshotSize]  WITH CHECK ADD  CONSTRAINT [FK_ScreenshotSize_Screenshot] FOREIGN KEY([screenshot_id])
REFERENCES [crunchbase].[Screenshot] ([screenshot_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[ScreenshotSize] CHECK CONSTRAINT [FK_ScreenshotSize_Screenshot]
GO
ALTER TABLE [crunchbase].[VideoEmbed]  WITH CHECK ADD  CONSTRAINT [FK_VideoEmbed_Company] FOREIGN KEY([company_id])
REFERENCES [crunchbase].[Company] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [crunchbase].[VideoEmbed] CHECK CONSTRAINT [FK_VideoEmbed_Company]
GO
ALTER TABLE [crunchbase].[Company]  WITH CHECK ADD CHECK  (([founded_month]>=(1) AND [founded_month]<=(12)))
GO
ALTER TABLE [crunchbase].[Company]  WITH CHECK ADD CHECK  (([founded_day]>=(1) AND [founded_day]<=(31)))
GO
ALTER TABLE [crunchbase].[Company]  WITH CHECK ADD CHECK  (([number_of_employees]>=(0)))
GO
ALTER TABLE [crunchbase].[FundingRound]  WITH CHECK ADD CHECK  (([funded_month]>=(1) AND [funded_month]<=(12)))
GO
ALTER TABLE [crunchbase].[FundingRound]  WITH CHECK ADD CHECK  (([funded_day]>=(1) AND [funded_day]<=(31)))
GO
ALTER TABLE [crunchbase].[FundingRound]  WITH CHECK ADD CHECK  (([raised_amount]>=(0)))
GO
ALTER TABLE [crunchbase].[Investment]  WITH CHECK ADD  CONSTRAINT [CK_Investment_ExclusiveInvestor] CHECK  ((((case when [person_id] IS NOT NULL then (1) else (0) end+case when [financial_org_id] IS NOT NULL then (1) else (0) end)+case when [investing_company_id] IS NOT NULL then (1) else (0) end)=(1)))
GO
ALTER TABLE [crunchbase].[Investment] CHECK CONSTRAINT [CK_Investment_ExclusiveInvestor]
GO
/****** Object:  StoredProcedure [crunchbase].[UpsertCompany]    Script Date: 25.01.2026 18:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- PROCEDURA SKŁADOWANA - Wstawianie/aktualizacja firmy
-- ============================================================================
CREATE   PROCEDURE [crunchbase].[UpsertCompany]
    @mongo_id NVARCHAR(50),
    @name NVARCHAR(255),
    @permalink NVARCHAR(255),
    @category_code NVARCHAR(100) = NULL,
    @description NVARCHAR(MAX) = NULL,
    @number_of_employees INT = NULL,
    @founded_year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM crunchbase.Company WHERE mongo_id = @mongo_id)
    BEGIN
        UPDATE crunchbase.Company
        SET name = @name,
            category_code = @category_code,
            description = @description,
            number_of_employees = @number_of_employees,
            founded_year = @founded_year,
            updated_at = GETDATE()
        WHERE mongo_id = @mongo_id;

        PRINT 'Firma zaktualizowana: ' + @name;
    END
    ELSE
    BEGIN
        INSERT INTO crunchbase.Company (mongo_id, name, permalink, category_code, 
                                        description, number_of_employees, founded_year)
        VALUES (@mongo_id, @name, @permalink, @category_code, 
                @description, @number_of_employees, @founded_year);

        PRINT 'Firma dodana: ' + @name;
    END
END
GO
USE [master]
GO
